@mixin btn {
  height: 40px;
  border: none;
  font-size: 16px;

}

@mixin btn-primary {
  @include btn;

  background: $bg-primary;
  color: $color-white;
  border: thin $color-primary solid;
  border-radius: 20px;
}