@import '../../../../../scss/shared';

.container {
  width: 100%;
  max-width: 100%;
}

.eb-row {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  height: 350px;

  &:first-child {
    h1 {
      font-size: 70px;
      font-weight: 600;
    }
  }

  &:nth-child(3) {
    h1 {
      font-size: 130px;
      font-weight: 600;
    }
  }

  .fa-chart-bar {
    font-size: 170px;
    font-weight: 400;
  }
}

@media (max-width: 1175px) {
  .eb-row {
    max-width: 33%;
    height: auto;

    &:first-child {
      padding: 10px;

      h1 {
        font-size: 48px;
      }
    }

    &:nth-child(3) {
      h1 {
        font-size: 95px;
      }
    }

    .fa-chart-bar {
      font-size: 115px;
    }

    h4 {
      font-size: 22px;
    }
  }
}

@media (max-width: 768px) {
  .eb-row {
    max-width: 33%;
    height: auto;
    padding: 0;

    h4 {
      font-size: 14px;
    }

    &:first-child {
      padding: 0;

      h1 {
        font-size: 45px;
      }
    }

    &:nth-child(3) {
      h1 {
        font-size: 70px;
      }
    }

    .fa-chart-bar {
      font-size: 90px;
    }
  }

  .container {
    padding: 0;
  }
}


@media (max-width: 480px) {
  .eb-row {
    max-width: 33%;
    height: auto;
    padding: 0;

    h4 {
      font-size: 12px;
    }

    &:first-child {
      padding: 0;

      h1 {
        font-size: 30px;
      }
    }

    &:nth-child(3) {
      h1 {
        font-size: 55px;
      }
    }

    .fa-chart-bar {
      font-size: 75px;
    }
  }

  .container {
    padding: 0;
  }
}


@media (max-width: 375px) {
  .eb-row {
    max-width: 33%;
    height: auto;
    padding: 0;

    h4 {
      font-size: 10px;
    }

    &:first-child {
      padding: 0;

      h1 {
        font-size: 24px;
      }
    }

    &:nth-child(3) {
      h1 {
        font-size: 49px;
      }
    }

    .fa-chart-bar {
      font-size: 60px;
    }
  }
}