<app-top-nav></app-top-nav>

<div class="container">
  <div class="upper-content">
    <div class="tagline-container">
      <div class="col-12 col-lg-8">
        <h1>“Take care of the health of your employees, whilst taking care of the health of your business”</h1>
        <h2>“NHS GP Services on demand with DocHQ”</h2>
        <h5>DocHQ partners with local NHS GPs to give your employees the healthcare they need, so they can quickly be
          back in business.</h5>
        <p class="mb-0">- Expansion of the above</p>
        <p>- Motivation</p>
      </div>

      <div class="col-12 btn-swu-container">
        <button type="button" class="btn btn-swu">Speak with us</button>
      </div>
    </div>
  </div>
</div>

<div class="wwa-container">
  <h1 class="wwa-title">Who we are</h1>
  <p class="wwa-desc">DocHQ works with your local NHS doctors surgey to give your employees private healthcare. Your
    employees get instant access to GPs, nurses and medications, so they are back to normal, faster.</p>
  <app-who-we-are></app-who-we-are>
</div>

<div class="benefits-container">
  <div class="row m-0 p-0">
    <div class="col-12 col-md-5 col-lg-4">
      <h1 class="benefits-title">Benefits of using DocHQ</h1>
      <button type="button" class="btn btn-swu">Speak with us</button>
    </div>
    <div class="col-12 col-md-7 col-lg-8">
      <app-benefits></app-benefits>
    </div>
  </div>
</div>

<div class="jumbotron-container">
  <app-jumbotron></app-jumbotron>
</div>

<div class="eco-benefits-container">
  <app-eco-benefit></app-eco-benefit>
</div>

<div class="quote-from-container">
  <app-quote-from></app-quote-from>
</div>

<div class="we-work-with-container">
  <h1>Companies we work with</h1>
  <app-we-work-with></app-we-work-with>
</div>

<div class="footer-container">
  <app-footer></app-footer>
</div>