$bg-white: #fff;
$bg-primary: #00bdaf;
$bg-lighter-gray: #efeff0;
$bg-black: #212b36;
$bg-light-gray: #d8d8d8;
$bg-red: #e5014d;
$bg-whitesmoke: #f1f1f1;

$color-primary:#00bdaf;
$color-white: #fff;
$color-black: #4a4a4a;
$color-gray: #CCC;
$color-light-gray: #f1f1f1;

$family-font: 'Roboto', sans-serif;

$box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.2);
$border-line-color: #ddd;
$text-shadow: 0.5px 0.5px 0.5px $color-black;