<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-3 logo-social mb-3">
      <img src="/assets/temp/images/logo-no-text.png" />
      <span>DocHQ</span>
      <div class="mt-2">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

    <div class="col-md-8 col-lg-3 da-container">
      <h1>Download our free DocHQ app</h1>
      <img src="/assets/temp/images/app-store.png" />
      <img src="/assets/temp/images/google-app.png" />
    </div>

    <div class="col-md-12 col-lg-6 footer-menu">
      <div class="row m-0">
        <div class="col-sm-4"><h4><a href="javascript:void(0)">About DocHQ</a></h4></div>
        <div class="col-sm-4"><h4><a href="javascript:void(0)">Privacy policy</a></h4></div>
        <div class="col-sm-4"><h4><a href="javascript:void(0)">Contact Us</a></h4></div>
      </div>
      <div class="row m-0">
        <div class="col-sm-4"><h4><a href="javascript:void(0)">How it works</a></h4></div>
        <div class="col-sm-4"><h4><a href="javascript:void(0)">FAQs</a></h4></div>
        <div class="col-sm-4"><h4><a href="javascript:void(0)">Become a GP partner</a></h4></div>
      </div>
      <div class="row m-0">
          <div class="col-sm-4"><h4><a href="javascript:void(0)">Cotnact us</a></h4></div>
          <div class="col-sm-4"><h4><a href="javascript:void(0)">Latest news</a></h4></div>
          <div class="col-sm-4"><h4><a href="javascript:void(0)">Careers</a></h4></div>
        </div>
    </div>
  </div>
</div>
