<div class="container">
  <div class="row">
    <div class="col-6 col-md-4 logo-social mb-3">
      <img src="/assets/temp/images/logo-no-text.png" />
      <span>DocHQ</span>
      <div class="mt-2">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

    <div class="col">
      <nav class="col-inline-menu">
        <a href="javascript:void(0)">About Doc HQ</a>
        <a href="javascript:void(0)">How it works</a>
        <a href="javascript:void(0)">Pricing</a>
        <a href="javascript:void(0)">FAQs</a>
        <a href="javascript:void(0)">Contact Us</a>
        <a href="javascript:void(0)">Privacy Policy</a>
        <a href="javascript:void(0)">Careers</a>
        <a href="javascript:void(0)">Become a GP Partner</a>
      </nav>

      <div class="row col-thumb-menu">
        <ul class="col-6 list-unstyled text-small">
          <li><a href="javascript:void(0)">About Doc HQ</a></li>
          <li><a href="javascript:void(0)">How it works</a></li>
          <li><a href="javascript:void(0)">Pricing</a></li>
          <li><a href="javascript:void(0)">FAQs</a></li>
        </ul>
        <ul class="col-6 list-unstyled text-small">
          <li><a href="javascript:void(0)">Contact Us</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
          <li><a href="javascript:void(0)">Careers</a></li>
          <li><a href="javascript:void(0)">Become a GP Partner</a></li>
        </ul>
      </div>

      <div class="col-list-menu">
        <ul class="list-unstyled text-small">
          <li><a href="javascript:void(0)">About Doc HQ</a></li>
          <li><a href="javascript:void(0)">How it works</a></li>
          <li><a href="javascript:void(0)">Pricing</a></li>
          <li><a href="javascript:void(0)">FAQs</a></li>
          <li><a href="javascript:void(0)">Contact Us</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
          <li><a href="javascript:void(0)">Careers</a></li>
          <li><a href="javascript:void(0)">Become a GP Partner</a></li>
        </ul>
      </div>
    </div>

    <div class="col-12">
      <div class="latest-blog-news float-right">
        <p>Latest News (Blog)</p>
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Sign up for email updates" class="form-control" />
      </div>
    </div>
  </div>
</div>
