<div id="c-indicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#c-indicators1" data-slide-to="0" class="active"></li>
    <li data-target="#c-indicators2" data-slide-to="1"></li>
    <li data-target="#c-indicators3" data-slide-to="2"></li>
    <li data-target="#c-indicators4" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1>Phil's Story</h1>
      <div class="row">
        <div class="col-3 col-md-3 col-lg-2 text-center">
          <img class="rounded-circle carousel-img" src="/assets/temp/images/phil.png" />
        </div>
        <div class="col col-md-8 col-lg-9">
          <h3 class="carousel-text">“Phil is a plumber. He’s been burning the candle at both ends, and was upset to
            wake up with a chest
            infection
            one morning. A quick phone call to DocHQ resulted in a Nurse sending a prescription to his local
            pharmacist.
            In no time, Phil is back to doing what he does best, fixing his client’s pipes“</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h1>Barbara's Story</h1>
      <div class="row">
        <div class="col-3 col-md-3 col-lg-2 text-center">
          <img class="rounded-circle carousel-img" src="/assets/temp/images/barbara.png" />
        </div>
        <div class="col col-md-8 col-lg-9">
          <h3 class="carousel-text">“Barbara is the best rep in the team. But she has to take an afternoon off every
            year
            to see a Doctor about her
            contraceptive pill. With DocHQ, she received a reminder about her prescription and was booked in for a
            quick
            10 minute appointment. No waiting time, no messing about, and she was back at her desk in half an hour.“
          </h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h1>Roman's Story</h1>
      <div class="row">
        <div class="col-3 col-md-3 col-lg-2 text-center">
          <img class="rounded-circle carousel-img" src="/assets/temp/images/roman.png" />
        </div>
        <div class="col col-md-8 col-lg-9">
          <h3 class="carousel-text">“Roman works on a manufacturing line. He’s amazing with his hands, but his
            allergies
            slow down his work every
            summer. With DocHQ, he receives a reminder about his allergies in spring and gets a prescription in time to
            beat the high pollen counts. Finally he’s able to enjoy the sun as much as he enjoys his work“
          </h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <h1>Sabilah's Story</h1>
      <div class="row">
        <div class="col-3 col-md-3 col-lg-2 text-center">
          <img class="rounded-circle carousel-img" src="/assets/temp/images/sabilah.png" />
        </div>
        <div class="col col-md-8 col-lg-9">
          <h3 class="carousel-text">“Sabilah developed a nasty rash on her arm a year ago, and she still hasn’t been to
            her GP. When her company
            signs up to DocHQ, she contacts a local Nurse. Using her mobile phone camera, she shows the medical team
            her skin. The Nurse can easily diagnose the condition and send a prescription in under 24 hours. The
            problem
            clears up in no time“
          </h3>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-next" href="#c-indicators" role="button" data-slide="next">
    <i class="fas fa-chevron-right fa-4x"></i>
    <span class="sr-only">Next</span>
  </a>
</div>
